@media screen and (max-width: 510px) {
  .layoutSideMenu {
    display: block;
  }
  .sideMenu {
    max-width: 100vw !important;
    width: 100vw !important;
  }
  .ant-menu-inline {
    border-right: none;
  }
  .ant-menu-submenu-title {
    max-width: 100%;
  }
}
